---
layout: home
permalink: /
title: Be Sweet Bakery
---

<div class="title">
	<div class="filter">
		<div class="container">
			<div class="content animated fadeInDown">
				<h1>Be Sweet</h1>
				<h2>····· bakery ·····</h2>
			</div>
		</div>
	</div>
</div>

{% include nav.html %}

<section class="light">
	<div class="container">
		<h1>Featured Sweets</h1>
		<div class="subheader">
			<hr />
			<div>from the shop</div>
			<hr />
		</div>
        <div class="row">
            {% for item in site.menu %}
                {% if item.is_featured %}
                    <div class="one-third column">
                        <img src="{{ item.image }}">
                        <div class="img-description">
                            <h4>{{ item.title }}</h4>
                            <h5>{{ item.price }}</h5>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
	</div>
</section>

<div class="img-holder" data-image="/assets/images/dist/pink_cupcakes.JPG">
</div>

<section class="dark">
	<div class="container">
		<h1>Newsletter</h1>
		<div class="subheader">
			<hr />
			<div>get the scoop</div>
			<hr />
		</div>
		<form>
			<input type="email" placeholder="Email Address"/>
			<input type="submit" class="button-primary" value="Subscribe" />
		</form>
	</div>
</section>