---
layout: default
permalink: shop/
title: Shop | Be Sweet Bakery
---

<section class="dark">
	<div class="container">
		<h1>Featured Sweets</h1>
		<div class="subheader">
			<hr />
			<div>best of the best</div>
			<hr />
		</div>
        <div class="row">
            {% for item in site.menu %}
                {% if item[1].is_featured %}
                    <div class="one-third column" id="{{ item[0] }}">
                        <img src="{{ item[1].image }}">
                        <div class="img-description">
                            <h4>{{ item[1].title }}</h4>
                            <h5>{{ item[1].price }}</h5>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="medium">
	<div class="container">
		<h1>Shop</h1>
		<div class="subheader">
			<hr />
			<div>all the products</div>
			<hr />
            <p>Selecting the products below will fill out the form in the order section. Add the quantity and some personal information before submitting and we will get back to you as soon as possible.</p>
		</div>
        {% for item in site.menu %}
            {% assign loopindex = forloop.index0 | modulo: 3 %}
            {% if loopindex == 0 %}
                {% if forloop.index0 != 0 %}
                    </div>
                {% endif %}
		        <div class="row">
            {% endif %}
			<div class="one-third column" id="{{ item[0] }}">
				<img src="{{ item[1].image }}">
				<div class="img-description">
					<h4>{{ item[1].title }}</h4>
					<h5>{{ item[1].price }}</h5>
				</div>
			</div>
        {% endfor %}
    </div>
</section>

<section class="light">
	<div class="container">
		<h1>Order</h1>
		<div class="subheader">
			<hr />
			<div>your sweets</div>
			<hr />
		</div>
        <div class="row">
            <div class="three columns">&nbsp;</div>
            <div class="six columns">
                <form class="alternative" action="#" method="post">
                    <input class="u-full-width" type="text" name="name" placeholder="Your Name *">
                    <input class="u-full-width" type="email" name="email" placeholder="Email Address *">
                    <input class="u-full-width" type="text" name="completion_date" placeholder="Completion Date *">
                    <div class="row">
                        <div class="nine columns">
                            <input class="u-full-width" type="text" name="item_1" placeholder="Item *">
                        </div>
                        <div class="three columns">
                            <input class="u-full-width" type="text" name="item_1_quantity" placeholder="Quantity">
                        </div>
                    </div>
                    <label for="comments">Comments</label>
                    <textarea class="u-full-width" name="comments" ></textarea>
                    <input type="hidden" name="_next" value="/">
					<input type="hidden" name="_subject" value="Be Sweet Bakery - Contact Us">
					<input class="button-primary" type="submit" value="Send">
                </form>
            </div>
            <div class="three columns">&nbsp;</div>
        </div>
    </div>
</section>

<script src="/assets/scripts/dist/shop.js"></script>