<footer>
	<div class="container">
		<hr />
		<div class="row">
			<div class="one-third column">
				<h5>We Cater</h5>
				<p>Available for events and bulk ordering</p>
				<p><a href="/about#catering">Find out more</a></p>
			</div>
			<div class="one-third column">
				<h5>Contact</h5>
				<p><a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></p>
				<p><a href="tel://{{ site.phone }}">{{ site.phone }}</a></p>
			</div>
			<div class="one-third column">
				<h5 class="connect">Connect</h5>
				<p>
					<a href="https://www.facebook.com/besweetomaha"><i class="icon ion-social-facebook"></i></a>
					<a href="#"><i class="icon ion-social-twitter"></i></a>
				</p>
			</div>
		</div>
		<hr />
		<div class="fine-print row">
			<div class="five columns">
				<a href="/about">About</a> · <a href="#">Privacy Policy</a> · <a href="/contact">Contact</a>
			</div>
			<div class="two columns">
				{% include logo.html %}
			</div>
			<div class="five columns">
				@ 2015 Be Sweet Bakery. All Rights Reserved
			</div>
		</div>
	</div>
</footer>