nav {
	background-color: $light;
	
	.row {
		margin: 0;
		
		.columns {
			display: inline;
			
			&:first-of-type {
				text-align: right;
			}
		}
		
		a {
			color: inherit;
			display: inline-block;
			text-align: center;
			text-decoration: none;
			font-size: 2rem;
			text-transform: uppercase;
            -webkit-transition: background-color 0.3s, color 0.3s;
            transition: background-color 0.3s, color 0.3s;
			font-weight: bold;
			vertical-align: top;
			
			&:not(.logo-container) {
				padding: 2rem;
			}
			
			&:hover {
				color: $dark;
				background-color: $medium;
			}
		}
	}
}

@media (max-width: 550px) {
    nav {
        .row {
            .columns,
            .columns:first-of-type {
                text-align: center;
            }
            
            a:not(.logo-container) {
                padding: 1rem;
            }
        }
    }
}