---
---

@import "global";

.title {
	background-image: url(/assets/images/dist/title.jpg);
	background-size: cover;
	color: $lightest;
	text-align: center;
	width: 100%;
	z-index: 1;
	
	.filter {
		background-color: rgba(50,50,50,0.4);
		height: 100%;
		width: 100%;
	}
	
	.container {
		padding: 35rem 0;
	}
	
	h1 {
		color: $light-font;
		font-size: 12rem;
		line-height: 8rem;
		margin: 0;
	}
	
	h2 {
		color: $light-font;
		font-family: $secondary-font-family;
		margin: 0;
	}
}

section {
	padding: 4rem 0;
	
	img {
		border-radius: 50%;
		padding: 10%;
		width: 80%;
        
        &.inline {
            padding: 2rem;
            float: left;
            width: 40%;
        }
	}
	
	.img-description {
		
		h4 {
			font-size: 2.5rem;
			margin: 0;
		}
		
		h5 {
			color: $medium-font;
			font-family: $secondary-font-family;
			font-size: 1.8rem;
		}
	}
	
	&.light {
		background-color: $lightest;
	}
    
    &.medium {
		background-color: $light;
    }
	
	&.dark {
		background-color: $dark;
		
		h1, h4, p {
			color: $light-font;
		}
	}
	
	form {
		padding-top: 4rem;
		text-align: center;
        
        &:not(.alternative) {
            input {
                display: block;
                
                &[type=submit] {
                    background-color: $light;
                    color: $dark;
                    margin: 0 auto;
                    
                    &:hover {
                        background-color: $medium;
                        color: $dark;
                    }
                }
                
                &:not([type=submit]) {
                    margin: 0 auto 3rem auto;
                    width: 35rem;
                }
            }
        }
        
        &.alternative {
            text-align: left;
            
            label {
                color: $dark;
                font-style: italic;
                margin-left: 1rem;
            }
            
            input {
                display: block;
                
                &[type=submit] {
                    background-color: $dark;
                    color: $lightest;
                    margin: 0 auto;
                    
                    &:hover {
                        background-color: black;
                    }
                }
                
                &:not([type=submit]) {
                    border: 0;
                    border-bottom: 1px solid $dark;
                    outline: 0;
                }
            }
            
            textarea {
                border: 1px solid $dark;
                height: 18rem;
                outline: 0;
                resize: none;
            }
            
            ::-webkit-input-placeholder {
                color: $dark;
                font-style: italic;
            }
            
            :-moz-placeholder { /* Firefox 18- */
                color: $dark;
                font-style: italic;
            }
            
            ::-moz-placeholder {  /* Firefox 19+ */
                color: $dark;
                font-style: italic;
            }
            
            :-ms-input-placeholder {  
                color: $dark;
                font-style: italic;
            }
        }
	}
    
    p {
        font-size: 1.7rem;
        
        &:first-of-type {
            padding-top: 2rem;
        }
    }
}

.item {
    position: relative;
    
    .item-filter {
		background-color: rgba(255,255,255,0.8);
		height: 100%;
        opacity: 0;
        position: absolute;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
		width: 100%;
        
        .item-description {
            padding: 1rem 1.5rem;
            text-align: center;
            
            .dark & {
                color: black;
            }
        }
    
        .item-added {
            display: none;
            text-align: center;
            
            p {
                color: green;
            }
        }
    }
    
    &:hover {
        .item-filter {
            opacity: 1;
        }
    }
}

.img-switcher {
    width: 100%;
    height: 50rem;
    background-size: cover;
    background-position-y: 100%;
}

.subheader {
	div {
		color: $medium-font;
		display: inline-block;
		font-family: $secondary-font-family;
		font-size: 2rem;
		text-align: center;
		width: 20%;
	}
	
	hr {
		display: inline-block;
		width: 39.6%;
	}
    
    p {
		color: $medium-font;
        font-size: 1.8rem;
        margin-top: 1.5rem;
        padding: 0 8rem;
        text-align: center;
    }
}

hr {
	border-top: 0.5rem solid $medium;
	margin: 0;
}

@media (max-width: 750px) {
    .subheader {
        hr {
            border-top: 0;
        }
    }
}